body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

p {
    margin: 0;
}

.top_box {
    background-color: #285549;
    position: relative;
    overflow: hidden;
}

.top_box .bg {
    width: 100%;
}

.rc-upload {
    outline: none;
}

.empty_box {
    border: solid 1px #ccc;
    padding: 50px 0;
}

.upload_box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.upload_btns {
    position: absolute;
    bottom: 10%;
    width: 100%;
    text-align: center;
    color: #eee;
    cursor: pointer;
}

.upload_btn {
    width: 100px;
    margin-bottom: 10px;
}

.file_list {
    max-width: 800px;
    margin: 20px auto;
    min-height: 200px;
}

.file_box {
    background: #fff;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, .1);
    display: flex;
    margin-bottom: 5px;
}

.file_box .img {
    height: 35px;
}

.file_box .size {
    line-height: 35px;
    padding: 0 10px;
    font-size: 10px;
}

.file_box .ant-progress-inner {
    height: 35px;
    border-radius: 0;
}

.file_box .ant-progress-bg {
    height: 35px !important;
}

.file_box .ant-progress-bg::before {
    border-radius: 0;
}

.file_box .txts {
    width: 85px;
    line-height: 35px;
    text-align: center;
    font-size: 12px;
}

.file_box .txts .err {
    color: #bb0000;
}

.footer {
    margin-top: 10px;
    text-align: center;
    font-size: 10px;
    color: #666;
    background: #40444f;
}

.footer .info {
    padding: 15px;
    color: #fff;
}

.footer .info a {
    color: #fff;
}

.footer .auther {
    padding: 10px;
    background: #363a43;
    color: #788287;
}

.footer .auther a {
    color: #788287;
}

.cache_list {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.cache_item {
    width: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 100px;
    background: #efefef;
    position: relative;
    overflow: hidden;
}


.cache_img {
    width: 100px;
    margin-top: 50%;
    transform: translateY(-50%);
}

.download {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    background: rgba(0, 0, 0, .2);
    transition: opacity .2s ease-out;
    opacity: 0;
}

.download img {
    margin-top: 50%;
    transform: translateY(-50%);
    width: 40px;
    opacity: .9;
}


.cache_item:hover .download {
    opacity: 1;
}

.empty {
    color: rgba(0, 0, 0, 0.25);
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    border: solid 1px #ccc;
    padding: 50px 0;
}

.empty_img {
    height: 40px;
    margin-bottom: 8px;
}

.empty p {
    margin: 0;
}

.progress {
    position: relative;
    width: 100%;
    height: 35px;
    box-sizing: border-box;
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    list-style: none;
    font-feature-settings: 'tnum', "tnum";
}

.progress .inner {
    width: 0%;
    height: 35px;
    background-color: #3ee283;
}

.progress .bg {
    width: 100%;
    height: 35px;
    box-shadow: rgba(0, 0, 0, 0.08) 0 -0.96rem 1.6rem 0 inset;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 31%, rgba(0, 0, 0, 0.05) 33%, rgba(0, 0, 0, 0.05) 67%, rgba(0, 0, 0, 0) 69%);
    background-size: 4.8rem 2.2rem;
    animation: progress 1.5s linear 0s infinite;
    text-align: center;
    color: #fefefe;

}

.progress .title {
    position: absolute;
    top: 0;
    left: 10px;
    right: 10px;
    height: 35px;
    line-height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
    font-size: 10px;
}

@keyframes progress {
    from {
        background-position: 0
    }

    to {
        background-position: 4.8rem
    }
}

.container {
    margin: 20px auto;
    max-width: 800px;
}

.container .vs {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    background: #e3edf1;
}

.vs .before,
.vs .after {
    width: 280px;
    text-align: center;
}

.vs .mid {
    width: 30px;
}

.vs img {
    width: 200px;
}

.vs p {
    margin-top: 10px;
    font-size: 12px;
}

.vs p span {
    margin: 0 6px;
    color: #ff0000;
}

.tools {
    margin-top: 10px;
    text-align: center;
    display: flex;
}

.radio {
    margin: 0 auto;
    border-radius: 3px;
    font-size: 12px;
    border: sloid 1px #fff;
    display: flex;
}

.radio .tab {
    background: #efefef;
    color: #666;
    text-align: center;
    padding: 5px 8px;
    cursor: pointer;
    transition: all ease-out .3s;
}

.radio .tab.active {
    background: #3ee283;
    color: #fff;
}

.select_box {
    position: absolute;
    bottom: 10%;
    width: 100%;
    text-align: center;
    color: #eee;
    cursor: pointer;
}

.select_box .select_label {
    cursor: pointer;
}

.select_box input {
    display: none;
}

.cropper_box {
    margin-top: 10px;
}

.cropper_bootom {
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
}

.cropper_bootom input {
    width: 40px;
    margin-right: 10px;
    padding: 5px;
    text-align: center;
}

.cropper_btn {
    outline: none;
    background: #285549;
    color: #fff;
    padding: 5px 10px;
    border: none;
}

.cropper_btn:active {
    box-shadow: 0 0 5px 2px #fff inset;
}

@media only screen and (max-width:700px) {
    .top_box .bg {
        width: 110%;
    }

    .upload_btns {
        bottom: 2%;
    }

    .upload_btn {
        width: 60px;
        margin-bottom: 0;
    }

    .upload_btns p {
        margin-bottom: 0;
    }

    .file_list {
        padding: 0 10px;
        margin: 10px auto;
    }

    .vs img {
        width: 150px;
    }
}