body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.top_box {
    background-color: #285549;
    position: relative;
    overflow: hidden;
}

.top_box .bg {
    width: 100%;
}

.rc-upload {
    outline: none;
}

.empty_box {
    border: solid 1px #ccc;
    padding: 50px 0;
}

.upload_box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.upload_btns {
    position: absolute;
    bottom: 10%;
    width: 100%;
    text-align: center;
    color: #eee;
    cursor: pointer;
}

.upload_btn {
    width: 100px;
    margin-bottom: 10px;
}

.file_list {
    max-width: 800px;
    margin: 20px auto;
    min-height: 450px;
}

.file_box {
    background: #fff;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, .1);
    display: flex;
    margin-bottom: 5px;
}

.file_box .img {
    height: 35px;
}

.file_box .size {
    line-height: 35px;
    padding: 0 10px;
    font-size: 10px;
}

.file_box .ant-progress-inner {
    height: 35px;
    border-radius: 0;
}

.file_box .ant-progress-bg {
    height: 35px !important;
}

.file_box .ant-progress-bg::before {
    border-radius: 0;
}

.file_box .txts {
    width: 100px;
    line-height: 35px;
    text-align: center;
    font-size: 12px;
}

.file_box .txts .err {
    color: #bb0000;
}

.footer {
    text-align: center;
    font-size: 10px;
    color: #666;
}

.cache_list {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.cache_item {
    width: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 100px;
    background: #efefef;
    position: relative;
    overflow: hidden;
}


.cache_img {
    width: 100px;
    margin-top: 50%;
    transform: translateY(-50%);
}

.download {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    background: rgba(0, 0, 0, .2);
    transition: opacity .2s ease-out;
    opacity: 0;
}

.download img {
    margin-top: 50%;
    transform: translateY(-50%);
    width: 40px;
    opacity: .9;
}


.cache_item:hover .download {
    opacity: 1;
}

.empty {
    color: rgba(0, 0, 0, 0.25);
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    border: solid 1px #ccc;
    padding: 50px 0;
}

.empty_img {
    height: 40px;
    margin-bottom: 8px;
}

.empty p {
    margin: 0;
}

@media only screen and (max-width:700px) {
    .top_box .bg {
        width: 110%;
    }

    .upload_btns {
        bottom: 2%;
    }

    .upload_btn {
        width: 60px;
        margin-bottom: 0;
    }

    .upload_btns p {
        margin-bottom: 0;
    }

    .file_list {
        padding: 0 10px;
    }
}